<div class="message <%= message_class(message, @user) %>" id="<%= dom_id message %>" data-controller="message">
  <div class="meta top">
    <span class="created-at text-secondary"><%= message.created_at.to_s(:short) %></span>
  </div>
  <div class="content">
    <%= message.content %>
  </div>
  <div class="meta bottom">
    <% if not message.user.nil? %>
      <span class="created-at text-secondary"><%= message.user.name %></span>
    <% else %>
      <span class="created-at text-secondary">Unknown</span>
    <% end %>
  </div>
</div>