<div class="sessions">
  <%= form_tag('/login', { method: 'POST', class: 'form-signin' }) do %>

    <%= image_pack_tag('media/images/hotchat-logo.svg', class: 'mb-4 logo', width: '102', height: '102') %>
    <h1 class="h1 mb-2 font-weight-bold">Hotchat</h1>
    <h3 class="h5 mb-4 w-100 font-weight-light">Create a username to get started</h3>

    <%= label_tag :username, nil, class: 'sr-only' %>
    <%= text_field_tag :username, nil, class: 'form-control mb-3', placeholder: 'Username', autofill: 'off', autocomplete: 'off' %>


    <%= button_tag "Sign in", class: 'btn btn-lg btn-primary btn-block'%>
    <p class="mt-5 mb-3 text-muted">COMP-4081</p>
  <% end %>

</div>