<% unless @room.nil?%>
  <%= turbo_stream_from @room %>

  <div class="room-wrapper" data-controller="rooms">
    <%= turbo_frame_tag "room" do %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to room_leave_path, "data-turbo-frame": "_top", class: 'nav-link icon-nav-link' do %>
          <i class="fa fa-chevron-left"></i>
          <span class="text">Back</span>
        <% end %>
        <span class="navbar-brand"><%= @room.name %></span>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Members
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= turbo_frame_tag @room.users do %>
                <% @room.users.each do |user| %>
                  <div class="dropdown-item">
                    <%= user.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </nav>
    <% end %>

    <div class="inner-room" id="<%= dom_id(@room) %>">
      <div class="messages" id="messages">
        <%= render @room.messages %>
      </div>


      <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
    </div>
  </div>
<% end %>