<div class="rooms-list-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to logout_path, class: 'dropdown-item dropdown-link dropdown-logout' do %>
              <i class="fa fa-arrow-left"></i>
              <span class="text">Logout</span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <span class="navbar-brand">Rooms</span>
    <a class="nav-link icon-nav-link" data-toggle="modal" data-target="#newRoomModal">
      <i class="fa fa-plus"></i>
    </a>
  </nav>

  <%= turbo_stream_from :rooms %>
  <div id="rooms">
      <%= render @rooms %>
  </div>

</div>
<%= render 'new' %>