<div class="room-wrapper">
  <%= turbo_stream_from @room %>

  <%= turbo_frame_tag "room" do %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to 'Back', rooms_path, "data-turbo-frame": "_top", class: 'nav-link' %>
      <a class="navbar-brand" href="#"><%= @room.name %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  <% end %>

  <div class="messages" id="messages">
    <%= render @room.messages %>
  </div>

  <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
</div>