<div class="room-wrapper" data-controller="rooms" id="current_room" data-room-id="<%= @room.id %>" data-local-user-id="<%= @user.id %>">
  <%= render 'rooms/partials/nav' %>

  <%= turbo_stream_from @room %>
  <div class="messages" id="messages">
    <%= render @room.messages %>
  </div>

  <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
</div>
